extends layout

block content
  - if(isSuccess)    
    script.      
      location.href = '/join/#{roomname}/#{roomid}/master';
  - else if(roomname === '')
    script.
      alert('방을 만들지 못했습니다.');
      location.href = '/enter';
  - else
    script.
      alert('이미 존재하는 방입니다.');
      location.href = '/enter';        